# Imports

In [1]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
plt.style.use("seaborn")

In [5]:
plt.rcParams["figure.figsize"] = (12, 8)

In [6]:
import pandas as pd

/home/vincent/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

# Constructions manuelles

In [7]:
df = pd.DataFrame([["Londres", "Royaume-Uni", 8787892],
                   ["Berlin", "Allemagne", 3711930],
                   ["Madrid", "Espagne", 3141991],
                   ["Rome", "Italie", 2874558],
                   ["Paris", "France", 2206488],
                   ["Vienne", "Autriche", 1889083],
                   ["Bucarest", "Roumanie", 1759407],
                   ["Varsovie", "Pologne", 1758143],
                   ["Hambourg", "Allemagne", 1805316],
                   ["Budapest", "Hongrie", 1759407],
                   ["Barcelone", "Espagne", 1604555],
                   ["Munich", "Allemagne", 1464301],
                   ["Milan", "Italie", 1365156]
                  ],
                  columns=["Ville", "Pays", "Population"]
                 )

In [8]:
df

        Ville         Pays  Population
0     Londres  Royaume-Uni     8787892
1      Berlin    Allemagne     3711930
2      Madrid      Espagne     3141991
3        Rome       Italie     2874558
4       Paris       France     2206488
5      Vienne     Autriche     1889083
6    Bucarest     Roumanie     1759407
7    Varsovie      Pologne     1758143
8    Hambourg    Allemagne     1805316
9    Budapest      Hongrie     1759407
10  Barcelone      Espagne     1604555
11     Munich    Allemagne     1464301
12      Milan       Italie     1365156

In [42]:
df.query("Population < 2000000")

        Ville       Pays  Population
5      Vienne   Autriche     1889083
6    Bucarest   Roumanie     1759407
7    Varsovie    Pologne     1758143
8    Hambourg  Allemagne     1805316
9    Budapest    Hongrie     1759407
10  Barcelone    Espagne     1604555
11     Munich  Allemagne     1464301
12      Milan     Italie     1365156

In [43]:
df[df["Pays"].apply(lambda x: ("o" in x))]

      Ville         Pays  Population
0   Londres  Royaume-Uni     8787892
6  Bucarest     Roumanie     1759407
7  Varsovie      Pologne     1758143
9  Budapest      Hongrie     1759407

In [9]:
dict(df)

{'Ville': 0       Londres
 1        Berlin
 2        Madrid
 3          Rome
 4         Paris
 5        Vienne
 6      Bucarest
 7      Varsovie
 8      Hambourg
 9      Budapest
 10    Barcelone
 11       Munich
 12        Milan
 Name: Ville, dtype: object, 'Pays': 0     Royaume-Uni
 1       Allemagne
 2         Espagne
 3          Italie
 4          France
 5        Autriche
 6        Roumanie
 7         Pologne
 8       Allemagne
 9         Hongrie
 10        Espagne
 11      Allemagne
 12         Italie
 Name: Pays, dtype: object, 'Population': 0     8787892
 1     3711930
 2     3141991
 3     2874558
 4     2206488
 5     1889083
 6     1759407
 7     1758143
 8     1805316
 9     1759407
 10    1604555
 11    1464301
 12    1365156
 Name: Population, dtype: int64}

In [35]:
df["Pays"].value_counts()

Allemagne      3
Italie         2
Espagne        2
Pologne        1
Roumanie       1
Royaume-Uni    1
Hongrie        1
Autriche       1
France         1
Name: Pays, dtype: int64

In [38]:
df.set_index("Ville")

                  Pays  Population
Ville
Londres    Royaume-Uni     8787892
Berlin       Allemagne     3711930
Madrid         Espagne     3141991
Rome            Italie     2874558
Paris           France     2206488
Vienne        Autriche     1889083
Bucarest      Roumanie     1759407
Varsovie       Pologne     1758143
Hambourg     Allemagne     1805316
Budapest       Hongrie     1759407
Barcelone      Espagne     1604555
Munich       Allemagne     1464301
Milan           Italie     1365156

In [37]:
df.set_index(["Pays","Ville"])

                       Population
Pays        Ville
Royaume-Uni Londres       8787892
Allemagne   Berlin        3711930
Espagne     Madrid        3141991
Italie      Rome          2874558
France      Paris         2206488
Autriche    Vienne        1889083
Roumanie    Bucarest      1759407
Pologne     Varsovie      1758143
Allemagne   Hambourg      1805316
Hongrie     Budapest      1759407
Espagne     Barcelone     1604555
Allemagne   Munich        1464301
Italie      Milan         1365156

In [39]:
df.set_index(["Pays","Ville"]).sort_index()

                       Population
Pays        Ville
Allemagne   Berlin        3711930
            Hambourg      1805316
            Munich        1464301
Autriche    Vienne        1889083
Espagne     Barcelone     1604555
            Madrid        3141991
France      Paris         2206488
Hongrie     Budapest      1759407
Italie      Milan         1365156
            Rome          2874558
Pologne     Varsovie      1758143
Roumanie    Bucarest      1759407
Royaume-Uni Londres       8787892

In [41]:
df.groupby("Pays").agg(np.sum)

             Population
Pays
Allemagne       6981547
Autriche        1889083
Espagne         4746546
France          2206488
Hongrie         1759407
Italie          4239714
Pologne         1758143
Roumanie        1759407
Royaume-Uni     8787892

# Récupération

In [15]:
df2 = pd.read_json("codes-postaux.json")

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36078 entries, 0 to 36077
Data columns (total 4 columns):
codeCommune            36078 non-null object
codePostal             36078 non-null int64
libelleAcheminement    36078 non-null object
nomCommune             36078 non-null object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [18]:
df2.columns

Index(['codeCommune', 'codePostal', 'libelleAcheminement', 'nomCommune'], dtype='object')

In [19]:
df2.index

RangeIndex(start=0, stop=36078, step=1)

In [20]:
df2.describe()

         codePostal
count  36078.000000
mean   46428.058069
std    25673.303473
min     1000.000000
25%    24572.500000
50%    48215.000000
75%    67220.000000
max    97680.000000

In [21]:
df2.head()

  codeCommune  codePostal       libelleAcheminement               nomCommune
0       01001        1400    L'ABERGEMENT-CLEMENCIA  L'Abergement-Clémenciat
1       01002        1640  ABERGEMENT-DE-VAREY (L )    L'Abergement-de-Varey
2       01004        1500         AMBERIEU-EN-BUGEY        Ambérieu-en-Bugey
3       01005        1330       AMBERIEUX-EN-DOMBES      Ambérieux-en-Dombes
4       01006        1300                   AMBLEON                  Ambléon

In [22]:
df2[20:40]

   codeCommune  codePostal       libelleAcheminement                nomCommune
20       01024        1340                  ATTIGNAT                  Attignat
21       01025        1380             BAGE-LA-VILLE            Bâgé-Dommartin
22       01026        1380            BAGE-LE-CHATEL            Bâgé-le-Châtel
23       01027        1360                     BALAN                     Balan
24       01028        1990                   BANEINS                   Baneins
25       01029        1270                  BEAUPONT                  Beaupont
26       01030        1480                BEAUREGARD                Beauregard
27       01031        1100                 BELLIGNAT                 Bellignat
28       01032        1360                 BELIGNEUX                 Béligneux
29       01033        1200  BELLEGARDE-SUR-VALSERINE  Bellegarde-sur-Valserine
30       01034        1300                    BELLEY                    Belley
31       01035        1130                BELLEYDOUX                Belleydoux
32       01036        1260         BELMONT-LUTHEZIEU         Belmont-Luthézieu
33       01037        1470                  BENONCES                  Bénonces
34       01038        1370                      BENY                      Bény
35       01039        1350                      BEON                      Béon
36       01040        1340                  BEREZIAT                  Béréziat
37       01041        1500                   BETTANT                   Bettant
38       01042        1290                       BEY                       Bey
39       01043        1700                   BEYNOST                   Beynost

In [28]:
df2[df2["codeCommune"].apply(lambda x:x.startswith("01"))]

,codeCommune,codePostal,libelleAcheminement,nomCommune
0,01001,1400,L'ABERGEMENT-CLEMENCIA,L'Abergement-Clémenciat
1,01002,1640,ABERGEMENT-DE-VAREY (L ),L'Abergement-de-Varey
2,01004,1500,AMBERIEU-EN-BUGEY,Ambérieu-en-Bugey
3,01005,1330,AMBERIEUX-EN-DOMBES,Ambérieux-en-Dombes
4,01006,1300,AMBLEON,Ambléon
5,01007,1500,AMBRONAY,Ambronay
6,01008,1500,AMBUTRIX,Ambutrix
7,01009,1300,ANDERT-CONDON,Andert-et-Condon
8,01010,1350,ANGLEFORT,Anglefort
9,01011,1100,APREMONT,Apremont
10,01012,1110,ARANC,Aranc
11,01013,1230,ARANDAS,Arandas
12,01014,1100,ARBENT,Arbent
13,01015,1300,ARBOYS EN BUGEY,Arboys en Bugey
14,01016,1190,ARBIGNY,Arbigny
15,01017,1230,ARGIS,Argis
16,01019,1510,ARMIX,Armix
17,01021,1480,ARS-SUR-FORMANS,Ars-sur-Formans
18,01022,1510,ARTEMARE,Artemare
19,01023,1570,ASNIERES-SUR-SAONE,Asnières-sur-Saône
20,01024,1340,ATTIGNAT,Attignat
21,01025,1380,BAGE-LA-VILLE,Bâgé-Dommartin
22,01026,1380,BAGE-LE-CHATEL,Bâgé-le-Châtel
23,01027,1360,BALAN,Balan
24,01028,1990,BANEINS,Baneins
25,01029,1270,BEAUPONT,Beaupont
26,01030,1480,BEAUREGARD,Beauregard
27,01031,1100,BELLIGNAT,Bellignat
28,01032,1360,BELIGNEUX,Béligneux
29,01033,1200,BELLEGARDE-SUR-VALSERINE,Bellegarde-sur-Valserine
...,...,...,...,...
385,01425,1160,LA TRANCLIERE,La Tranclière
386,01426,1370,VAL-REVERMONT,Val-Revermont
387,01427,1600,TREVOUX,Trévoux
388,01428,1140,VALEINS,Valeins
389,01429,1660,VANDEINS,Vandeins
390,01430,1160,VARAMBON,Varambon
391,01431,1150,VAUX-EN-BUGEY,Vaux-en-Bugey
392,01432,1270,VERJON,Verjon
393,01433,1560,VERNOUX,Vernoux
394,01434,1330,VERSAILLEUX,Versailleux
395,01435,1210,VERSONNEX,Versonnex
396,01436,1170,VESANCY,Vesancy
397,01437,1560,VESCOURS,Vescours
398,01439,1570,VESINES,Vésines
399,01441,1430,VIEU-D IZENAVE,Vieu-d'Izenave
400,01442,1260,VIEU,Vieu
401,01443,1330,VILLARS-LES-DOMBES,Villars-les-Dombes
402,01444,1150,VILLEBOIS,Villebois
403,01445,1270,VILLEMOTIER,Villemotier
404,01446,1480,VILLENEUVE,Villeneuve
405,01447,1250,VILLEREVERSURE,Villereversure
406,01448,1200,VILLES,Villes
407,01449,1320,VILLETTE-SUR-AIN,Villette-sur-Ain
408,01450,1800,VILLIEU-LOYES-MOLLON,Villieu-Loyes-Mollon
409,01451,1440,VIRIAT,Viriat
410,01452,1510,VIRIEU-LE-GRAND,Virieu-le-Grand
411,01453,1260,VIRIEU-LE-PETIT,Virieu-le-Petit
412,01454,1300,VIRIGNIN,Virignin
413,01456,1350,VONGNES,Vongnes
414,01457,1540,VONNAS,Vonnas

In [33]:
df2[df2["libelleAcheminement"].apply(lambda x: x.startswith("B"))]

,codeCommune,codePostal,libelleAcheminement,nomCommune
21,01025,1380,BAGE-LA-VILLE,Bâgé-Dommartin
22,01026,1380,BAGE-LE-CHATEL,Bâgé-le-Châtel
23,01027,1360,BALAN,Balan
24,01028,1990,BANEINS,Baneins
25,01029,1270,BEAUPONT,Beaupont
26,01030,1480,BEAUREGARD,Beauregard
27,01031,1100,BELLIGNAT,Bellignat
28,01032,1360,BELIGNEUX,Béligneux
29,01033,1200,BELLEGARDE-SUR-VALSERINE,Bellegarde-sur-Valserine
30,01034,1300,BELLEY,Belley
31,01035,1130,BELLEYDOUX,Belleydoux
32,01036,1260,BELMONT-LUTHEZIEU,Belmont-Luthézieu
33,01037,1470,BENONCES,Bénonces
34,01038,1370,BENY,Bény
35,01039,1350,BEON,Béon
36,01040,1340,BEREZIAT,Béréziat
37,01041,1500,BETTANT,Bettant
38,01042,1290,BEY,Bey
39,01043,1700,BEYNOST,Beynost
40,01044,1200,BILLIAT,Billiat
41,01045,1330,BIRIEUX,Birieux
42,01046,1290,BIZIAT,Biziat
43,01047,1150,BLYES,Blyes
45,01050,1190,BOISSEY,Boissey
46,01050,1380,BOISSEY,Boissey
47,01051,1450,BOLOZON,Bolozon
48,01052,1330,BOULIGNEUX,Bouligneux
49,01053,1000,BOURG-EN-BRESSE,Bourg-en-Bresse
50,01054,1800,BOURG-SAINT-CHRISTOPHE,Bourg-Saint-Christophe
51,01056,1640,BOYEUX-SAINT-JEROME,Boyeux-Saint-Jérôme
...,...,...,...,...
35756,95054,95750,BELLAY-EN-VEXIN,Le Bellay-en-Vexin
35757,95055,95270,BELLEFONTAINE,Bellefontaine
35758,95056,95270,BELLOY-EN-FRANCE,Belloy-en-France
35759,95058,95340,BERNES-SUR-OISE,Bernes-sur-Oise
35760,95059,95810,BERVILLE,Berville
35761,95060,95550,BESSANCOURT,Bessancourt
35762,95061,95840,BETHEMONT-LA-FORET,Béthemont-la-Forêt
35763,95063,95870,BEZONS,Bezons
35764,95074,95000,BOISEMONT,Boisemont
35765,95078,95650,BOISSY-L AILLERIE,Boissy-l'Aillerie
35766,95088,95500,BONNEUIL-EN-FRANCE,Bonneuil-en-France
35767,95091,95570,BOUFFEMONT,Bouffémont
35768,95094,95720,BOUQUEVAL,Bouqueval
35769,95101,95710,BRAY-ET-LU,Bray-et-Lû
35770,95102,95640,BREANCON,Bréançon
35771,95110,95640,BRIGNANCOURT,Brignancourt
35772,95116,95820,BRUYERES-SUR-OISE,Bruyères-sur-Oise
35773,95119,95770,BUHY,Buhy
35774,95120,95430,BUTRY-SUR-OISE,Butry-sur-Oise
35931,97103,97122,BAIE MAHAULT,Baie-Mahault
35932,97104,97123,BAILLIF,Baillif
35933,97105,97100,BASSE TERRE,Basse-Terre
35934,97106,97125,BOUILLANTE,Bouillante
35963,97203,97218,BASSE POINTE,Basse-Pointe
35996,97234,97222,BELLEFONTAINE,Bellefontaine
36020,97402,97412,BRAS PANON,Bras-Panon
36043,97415,97411,BOIS DE NEFLES SAINT PAUL,Saint-Paul
36062,97602,97650,BANDRABOUA,Bandraboua
36063,97603,97660,BANDRELE,Bandrele
36064,97604,97620,BOUENI,Bouéni